*.iml
.gradle
/.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.idea
/.git
gradlew
gradlew.bat
gradle/
/app/release/output-metadata.json
/app/release/app-release.apk